/*
 * jQuery FlexSlider v1.8
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
	width: 100%; 
	margin: 0; 
	padding: 0;
}
.flexslider .slides > li {
	display: none; 
	height: auto;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
	max-width: 100%; 
	display: block;	
}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1;}
.flexslider .slides {zoom: 1;}
.flexslider .slides > li {position: relative;}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {zoom: 1; position: relative;}

/* Caption style */
/* IE rgba() hack */
.flex-caption { background: #4d4d4d; width: 240px; opacity: 0.9; filter: alpha(opacity = 90);}
.flex-caption {position: absolute; left: 30px; bottom: 30px; padding: 15px 15px; color: #ffffff;  -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.flex-caption h1, .flex-caption h2, .flex-caption h3, .flex-caption h4, .flex-caption h5, .flex-caption h6   { color: #ffffff; margin: 0; }

/* Direction Nav */
.flex-direction-nav li a {width: 30px; height: 30px;display: block; position: absolute; top: 30px; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.flex-direction-nav li .next {background: #4d4d4d url(../images/next.png) no-repeat center center; left: 70px;}
.flex-direction-nav li .prev {background: #4d4d4d url(../images/prev.png) no-repeat center center; left: 30px;}
.flex-direction-nav li a:hover { background-color: #2db6cf; }
.flex-direction-nav li .disabled {opacity: .3; filter:alpha(opacity=30); cursor: default;}

#home .entry .slidercontent .flex-direction-nav li a {
	width: 20px; height: 20px; top: 10px;
	}
	
#home .entry .slidercontent .flex-direction-nav li .next {left: 35px;}
#home .entry .slidercontent .flex-direction-nav li .prev {left: 10px;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 30px; text-align: center;}
.flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-nav li:first-child {margin: 0;}
.flex-control-nav li a {width: 11px; height: 11px; display: block; background: url(../images/bullets.png) no-repeat 0 0; cursor: pointer; text-indent: -9999px;}
.flex-control-nav li a:hover {}
.flex-control-nav li a.active {background-position: bottom left; cursor: default;}