div#img_upload_answer{
	width:77%;	

}

div#img_upload_answer p{
	font-weight: bold;
	font-size: 110%;
	margin-left: 2%;			
}
h3{
	color:#CAC8E3;
	font-family: 'Fauna One', serif;
	padding-bottom: 5px;	
	width:100%;
	font-size: 30px ;
	display: inline-block;
	width:200%;

}
div#img_successful_answer_container hr,div#successful_operation hr, {
margin-top: -5px;
	 border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
    width: 60%;
}

div#img_successful_answer_container hr:after,div#successful_operation hr:after {  
	/* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}
div#img_successful_answer_container,div#successful_operation{
/*	background-image:url('../../resources/images/edit-validated-icon.png');*/

	margin-left: 22%;
	padding-left: 11%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-top: 3%;
	width: 57%;
	border-radius: 10px;
	border: 9px solid #BADA55;
}

div#successful_operation{
	padding-left: 14%;
}

div#failed_operation{
	position: relative;
	padding-left: 14%;	
	margin-left: 27%;
	padding-left: 11%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-top: 3%;
	width: 43%;
	border-radius: 10px;
	border: 9px solid #FF293E;

}

div#failed_operation hr:after{
	content: "\00a0";  	
}
div#failed_operation hr{
	width:35%;
}
div#error_answer{
	width:60%;
	height: 90px;
}
div#error_answer div{
	margin:11px;
	padding:7px;
	width:90%;
	height: 150%;
}