html
{	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%; 
	
}

ul.menu{
	margin-top:10%;
	width:30%;
	position: relative;
	left:35%;
}



form#index{
	width: 30%;
}

div#main_container{
	width: 70%;
	border:2px solid black;
	background-color: #ecf2f5;
	position: relative;
	left:15%;
	padding-left: 10%;
	padding-top: 8%;
	margin-top: 3%;

	-moz-border-radius:.9em;
	-webkit-border-radius:.9em;
	border-radius:.9em;
}


div#about_select{
	width: 35%;
}
div#about_select select{
	float:right;
	margin-right: 33%;
	width: 80px;
}
.about_skill_delete{
	float:right;
	margin-left: 10%
}
div.not_logged{
	color:red;
}

button#user_logout{
	
	position: absolute;
	margin-top: 5%;
	margin-left: 85%;
}
nav{
	margin-bottom: -3%;
}
ul
{
    list-style-type: none;
}
h3{
	color:#CAC8E3;
	font-family: 'Fauna One', serif;
	padding-bottom: 30px;	
	width:100%;
	font-size: 30px ;
	display: inline-block;
	width:200%;
	
}

button#submit{
	position: relative;
	width:200px;
	display: inline-block;
	margin-left: 200px;
	font-weight: bold;
}
button#submit_portfolio_element{
	position: relative;
	width:200px;
	margin-top: -200px;
	display: inline-block;
	margin-left: 300px;
	font-weight: bold;
}

div#wrong_password{
	opacity: 0;
	width:40%;
	margin-left: 0%;
}
div#password_pattern{
	/*float:right;*/
	width:70%;
	border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
   	-moz-border-radius:.5em;
	-webkit-border-radius:.5em;
	border-radius:.5em;
	color: #00529B;
    background-color: #BDE5F8;
    margin-left: 17%;
    margin-top: 5%;

}

button#password_pattern_button{
	
	margin-left: 17%;

}
div#password_pattern_container{
	float:right;	
	width:250px;
	

}
button#next_article{
	position: fixed;
	left: 88%;
	top:50%;
}

button#previous_article{
	position: fixed;
	left: 5%;
	top:50%;
}


textarea.title { 
	height: 50px;
	width:auto;
 }
 textarea.description { 
	height: 110px;
	width:auto;
 }
 textarea.content { 
	height: 220px;
	width:auto;
 }

 button#save{
	position: relative;
	width:200px;
	display: inline-block;
	margin-left: 20%;
	font-weight: bold;
}

span#current_user{
	font-family: 'Prosto One', cursive;
}

body{
	font: 90%/1.7 "Trebuchet MS", Helvetica, Arial, sans-serif;
	
}
ol{
	
	margin: 0;
	padding: 0; 
}

div.input{
	width:50%;
	margin-left:-7%;
}
 div.input li {

	/*float: left;*/
	text-align: right;
	margin-right: 2%;
 }

 div.input input{
 	margin-left: 20px; 	
 }

 div#portfolio_img_container{
 	width:225px;
 	height: 230px;
 	/*border:1px solid black;*/
 	margin-top:10px; 
 	margin-bottom:5px;
 	display: inline-table;
 	margin-left: 2%;
 }
 div#portfolio_img_container button{
 	margin-left: 30%;
 }
 
 div#portfolio_img_container img{
 	margin-left: 5%;
 }
 div#portfolio_img_main{
 	width:83%;
 	margin-left: -3%;
 	
 }

 div#blog_category {
 	padding-left: 0px;

 }


 div.blog_img_container{
 	width:225px;
 	height: 230px;
 	/*border:1px solid black;*/
 	margin-top:10px; 
 	margin-bottom:5px;
 	display: inline-table;
 	margin-left: -2%;
 }
 div.blog_img_container button{
 	margin-left: 30%;
 }
 
 div.blog_img_container img{
 	margin-left: 5%;
 }
